#content{
background-color:lightgreen;
width:78%;
height:560px;
float:left;
border:groove;
}

#sidebar{
background-color:aqua;
width:21%;
height:155px;
float:right;
border:groove;
}


.A{margin-left:20px;
}


.T{color:white;
background-color:darkblue;
width:318px;
margin-left:350px;
}

.BT{background-color:yellow;
width:10%;
height:50px;
border:groove;
float:left;
}
#indented-paragraph{
padding-left:140px;


}

#IP{padding-left:140px;

padding-right:80px;
margin-right:30px;


}

#L2{color:white;
background-color:darkblue;
width:321px;
margin-left:300px;
}


#IMG{float:right;border-radius:24px;
}


.FL{float:left;
padding-right:200px;}



#box{background-color:yellow;
width:10%;
height:180px;
float:left;
border:groove;
margin-left:5px;
font-size:13px;
}




#IMG{padding-right:24px;
float:right;
}

#PARA{padding-right:120px;

}

#img2{float:right;
padding-right:20px;
transform:rotate(20deg);
}










#team{width:50%;
height:30px;
background-color:yellow;
}